/* Style pour le corps de la page */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style pour les titres h2 */
h2 {
  color: #6a85d4;
}

/* Style pour les paragraphes */
p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.donee {
  color: #515050;
  font-family: bold;
}

/* Style pour le paragraphe "Aucune donnée reçue." */

/*
p:nth-of-type(2) {
  font-style: italic;
  color: #888;
}
*/
